<app-breadcrumb *ngIf="restaurant && restaurants" [showCountry]="true" [cityName]="cityName" [cityId]="cityId"
  [entityType]="'Restaurants'" [entityName]="restaurant.name"></app-breadcrumb>
<div *ngIf="restaurant && restaurants">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
    data-src="https://images.unsplash.com/photo-1544148103-0773bf10d330?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
    uk-img>
    <h1>{{restaurant.name}}</h1>
  </div>
  <div class="uk-margin-medium-top uk-margin-remove-left uk-margin-remove-right" uk-grid>
    <div class="uk-padding-remove-left uk-width-1-3@s uk-flex-first">
      <div class="uk-padding-remove-right uk-margin-small-right uk-card uk-card-body">
        <div>
          <span uk-icon="icon: star; ratio: 1.7"></span>
          <span class="uk-margin-small-left uk-text-middle uk-text-large uk-text-emphasis">Rating</span>
        </div>
        <br>
        <div>
          <span
            class="uk-heading-medium uk-text-light uk-align-right uk-margin-remove-adjacent uk-margin-bottom">{{restaurant.averageRating | number:'1.1-1'}}</span>
        </div>
        <div>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="uk-grid-collapse uk-child-width-expand@s" uk-grid>
          <div class="uk-flex-column">
            <a class="uk-link-muted uk-text-center" [routerLink]="['/cities/' + cityId + '/restaurants']">
              <p class="uk-align-center uk-margin-remove-bottom">#{{restaurant.ranking}} of 100 restaurants <br> in
                Germany</p>
            </a>
          </div>
          <div class="uk-flex uk-flex-middle uk-flex-center">
            <app-review [entityType]="'restaurants'" [headline]="restaurant.name"></app-review>
          </div>
        </div>
        <div class="uk-margin-medium-top uk-padding-remove-horizontal container">
          <div *ngIf="restaurantReviews.length !== 0" class="uk-grid-small uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-margin-small-right uk-margin-small-left uk-flex uk-flex-column">
              <div class="uk-text-nowrap uk-flex uk-flex-center">Food</div>
              <div>
                <ngb-rating [(rate)]="foodRating" max="5" readonly=true></ngb-rating>
              </div>
            </div>
            <div class="uk-flex uk-flex-column">
              <div class="uk-margin-small-left">
                <div>
                  <span>Service</span>
                </div>
                <ngb-rating [(rate)]="serviceRating" max="5" readonly=true></ngb-rating>
              </div>
            </div>
            <div class="uk-flex uk-flex-column">
              <div class="uk-margin-small-left">
                <div>
                  <span>Price</span>
                </div>
                <div>
                  <ngb-rating [(rate)]="valueForMoneyRating" max="5" readonly=true></ngb-rating>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-flex-column uk-card uk-card-body uk-text-center">
            <div>
              <span>{{restaurant.streetAddress}}, {{cityName}}</span>
            </div>
            <div>
              <span>{{restaurant.phoneNumber}}</span>
            </div>
            <div>
              <span>{{restaurant.url}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="uk-padding-xsmall-left uk-width-2-3@s">
      <div class="uk-padding-remove-left uk-padding-remove-bottom uk-margin-small-left uk-card uk-card-body">
        <h3 class="uk-card-title">Facilities</h3>
        <div class="uk-margin-medium-top uk-margin-medium-bottom">
          <p>{{restaurant.description}}</p>
          <app-entity-slideshow [entityType]="'restaurant'"></app-entity-slideshow>
        </div>
      </div>
    </div>
  </div>
</div>
<hr *ngIf="restaurant && restaurants" class="uk-divider-icon">
<div>
  <app-review-list [reviews]="restaurantReviews"></app-review-list>
</div>
