<div class="uk-background-default" uk-navbar uk-sticky="top">
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" [routerLink]="['']">G3 Advisor</a>
  </div>
  <div class="uk-navbar-right">
    <div class="uk-navbar-item">
      <ul class="uk-grid-small uk-grid" uk-grid>
        <li class="uk-first-column">
          <a class="uk-icon-button uk-icon" uk-icon="icon: user"></a>
        </li>
        <li>
          <button class="uk-button uk-button-default">Register</button>
        </li>
      </ul>
    </div>
  </div>
</div>
