<app-breadcrumb [showCountry]="true" [cityName]="cityName" [cityId]="cityId" [entityType]="'Restaurants'">
</app-breadcrumb>
<div class="uk-margin-medium-top">
  <app-subnav [cityId]="cityId"></app-subnav>
</div>
<app-entry-filter (submitFilterObjekt)="handleSubmit($event)"></app-entry-filter>
<div class="uk-margin-medium-top uk-child-width-1-3@s" uk-grid
  uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500; repeat: false">
  <div *ngFor="let restaurant of restaurants">
    <a class="uk-link-reset" [routerLink]="['/cities/' + cityId + '/restaurants/' + restaurant.restaurantId]">
      <div class="uk-card uk-box-shadow-hover-xlarge uk-card-default">
        <div class="uk-card-media-top">
          <img [src]="urlList[0]" alt="">
        </div>
        <div class="uk-card-body">
          <div class="uk-margin-remove-left uk-grid-match uk-grid-small uk-text-left" uk-grid>
            <div class="uk-width-3-5@s uk-width-2-3@s uk-margin-right">
              <h3 class="uk-card-title">{{restaurant.name}}</h3>
            </div>
            <div class="uk-child-width-expand">
              <div class="uk-flex uk-flex-middle uk-flex-right">
                <span uk-icon="icon: star; ratio: 1.5"></span>
              </div>
              <div class="uk-flex uk-flex-middle uk-flex-left uk-margin-small-left">
                <span class="uk-text-lead">{{restaurant.averageRating | number:'1.1-1'}}</span>
              </div>
            </div>
            <div class="uk-width-1-6@s">
              <app-price-level [priceLevel]="restaurant.priceLevel"></app-price-level>
            </div>
          </div>
          <p>{{restaurant.description}}</p>
        </div>
      </div>
    </a>
  </div>
</div>
